.header {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.header__button {
    background-color: #2196f35e;
    border-radius: 8px;
    border-color: white;
    padding: 15px;
    display: block;
    margin: auto;
}

.header__flex {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
